<% layout('partials/boilerplate') -%>
<div class="holder">
    <div class="sidebar">
        <i class="fas fa-mountain"></i>
        <a href="/"><i class="fas fa-home"></i></a>
        <a href="#"><i class="fas fa-heart"></i></a>
        <a href="#"><i class="fas fa-user"></i></a>
        <a href="#"><i class="far fa-bell"></i></a>
        <a href="#"><i class="fas fa-cog"></i></a>
        <i class="fas fa-info-circle"></i>
    </div>
    <div class="container">
        <div class="header">
            <div class="search-box">
                <div class="sample five">
                    <input type="text" name="search" placeholder="search" />
                    <button type="submit" class="btn btn-search">
                        <i class="fa fa-search fa-flip-horizontal"></i>
                    </button>
                </div>
            </div>
            <div class="user">
                <i class="fas fa-caret-down"></i>
                <div class="user-info">
                    <h5>Bineet</h5>
                </div>
                <div class="drop-menu">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Logout</a></li>
                </div>
            </div>
        </div>
        <div class="categories">
            <div class="category__card">
                <div class="card__box">
                    <i class="fas card__icon fa-home"></i>
                </div>
                <p class="category__name">Accomodations</p>
            </div>

            <div class="category__card">
                <div class="card__box">
                    <i class="fas card__icon fa-globe-asia"></i>
                </div>
                <p class="category__name">Experience</p>
            </div>

            <div class="category__card">
                <div class="card__box">
                    <i class="far card__icon fa-compass"></i>
                </div>
                <p class="category__name">Adventures</p>
            </div>

            <div class="category__card">
                <div class="card__box">
                    <i class="fas card__icon fa-plane"></i>
                </div>
                <p class="category__name">Flights</p>
            </div>
        </div>

        <div class="places">
            <div class="places__header">
                <h3>Best <span>Experience</span></h3>
                <h5>
                    <a href="#">See more <i class="fas fa-arrow-right"></i></a>
                </h5>
            </div>
            <div class="places__card"></div>
        </div>

        <div class="hotels">
            <div class="hotel__header">
                <h3>Best <span>Experience</span></h3>
                <h5>
                    <a href="#">See more <i class="fas fa-arrow-right"></i></a>
                </h5>
            </div>
            <div class="hotel__cards"></div>
        </div>
    </div>
</div>
