.header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .user {
        position: relative;
        display: inline-block;
        .dropbtn {
            width: 10rem;
            height: 2.2rem;
            background-color: $mainColor;
            outline: none;
            border: 0;
            border-radius: 20px;
            font-size: medium;
            display: flex;
            justify-content: center;
            cursor: pointer;
            color: white;
            align-items: center;
            i {
                padding-right: 5px;
            }
        }

        .drop-content.hide {
            opacity: 0;
            pointer-events: none;
        }

        .drop-content {
            position: absolute;
            top: 38px;
            background: $mainColor;
            width: 100%;
            padding: 0.5rem;
            font-size: smaller;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .search-box {
        input {
            border: 1px solid #ccc;
            font-size: 12px;
            height: 30px;
            padding: 4px 8px;
            position: absolute;
            width: 50%;
            &:focus {
                outline: none;
            }
        }
        button {
            text-align: center;
            &:focus {
                outline: none;
            }
            &.btn-search,
            &.btn-reset {
                background: $mainColor;
                border: none;
                height: 30px;
                font-size: 12px;
                padding: 4px;
                position: absolute;
                width: 30px;
            }
        }

        .sample {
            float: left;
            height: 50px;
            margin: 0 8%;
            position: relative;
            width: 34%;
            &.five {
                perspective: 400px;
                input {
                    width: 200px;
                    border-radius: 18px;
                    height: 2.2rem;
                    padding: 0 0 0 1.3rem;
                    &:focus {
                        ~ button {
                            &.btn-search {
                                transform: rotateY(180deg) translateX(60px);
                                transition: all 0.6s ease-in-out 0.2s;
                                width: 60px;
                            }
                            &.btn-reset {
                                transform: rotateY(0deg);
                                transition: all 0.6s ease-in-out 0.8s;
                            }
                        }
                    }
                }
                button {
                    height: 2.2rem;
                    &.btn-search {
                        backface-visibility: visible;
                        color: #fff;
                        padding: 0;
                        position: relative;
                        transform: rotateY(0deg) translateX(0px);
                        transform-origin: 143px 0;
                        transform-style: preserve3d;
                        transition: all 0.6s ease-in-out 0.2s;
                        width: 200px;
                        border-radius: 18px;
                    }
                    &.btn-reset {
                        backface-visibility: hidden;
                        background: #ccc;
                        left: 184px;
                        transform: rotateY(180deg);
                        transform-origin: left 0;
                        transform-style: preserve3d;
                        transition: all 0.6s ease-in-out 0.2s;
                        width: 60px;
                    }
                }
            }
        }
    }
}

@keyframes bounceRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes jumpTowardSearch {
    0% {
        background: #ccc;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
    20% {
        background: #ccc;
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }
    55% {
        background: hotpink;
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }
    90% {
        background: hotpink;
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }
    100% {
        background: hotpink;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}
@keyframes jumpTowardReset {
    0% {
        opacity: 0;
        transform: rotateZ(0deg) scale(1);
    }
    20% {
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }
    55% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }
    90% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }
    100% {
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}
