.hotels {
    display: flex;
    flex-direction: column;
    width: 100%;

    .hotel__header {
        display: flex;
        justify-content: space-between;
        padding: 18px 0;
        width: 80%;

        h3 {
            font-weight: bold;

            span {
                font-weight: lighter;
            }
        }
        h5 > a {
            color: $mainColor;
        }
    }

    .hotel__cards {
        display: flex;
        justify-content: space-evenly;
        overflow-x: auto;
        white-space: nowrap;
        scroll-snap-type: none;

        .hotel__box {
            display: flex;
            background-color: $mainColor;
            width: 16.5rem;
            padding: 0.7rem;
            border-radius: 24px;
            cursor: pointer;
            font-size: small;
            justify-content: space-evenly;
            color: $secondaryColor;

            .hotel__image {
                height: 45px;
                width: 45px;
                background-position: center;
                background-size: cover;
                border-radius: 16px;
            }

            .hotel__data {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
            }
            .hotel__rating {
                display: flex;
                align-items: start;
                justify-content: center;
                & > i {
                    color: yellow;
                }
            }
        }
    }
}
