.side-modals {
    width: 91%;
    height: 100vh;
    background-color: $secondaryColor;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    padding: 2.3rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        i {
            display: flex;
            align-items: center;
            font-size: x-large;
            cursor: pointer;
        }
    }
}

#query-box {
    #queries {
        overflow-y: auto;
        #location,
        #images {
            padding: 0 0 2rem 0;
        }

        #meta-data {
            font-size: small;
            font-weight: 500;
            padding: 0 0 0 30px;
        }

        #meta-content {
            display: flex;
            justify-content: space-between;

            #images {
                display: flex;
                flex: 0.5;
                justify-content: space-evenly;
                overflow-x: auto;

                img {
                    width: 30%;
                    height: 220px;
                    object-fit: cover;
                }
            }
        }

        .queries__hotels {
            display: flex;
            justify-content: space-evenly;

            &-box {
                display: flex;
                height: 12rem;
                width: 50%;
                background: aliceblue;
                justify-content: space-evenly;
                cursor: pointer;

                &__img {
                    height: 100%;
                    width: 50%;
                    object-fit: cover;
                    background-position: center;
                }
                &-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 10px 12px;
                    width: 90%;

                    hr {
                        width: 2.5rem;
                    }

                    &__features {
                        display: flex;
                        font-size: smaller;
                        justify-content: space-evenly;
                    }

                    &__meta-data {
                        display: flex;
                        justify-content: space-between;

                        i {
                            color: yellow;
                        }
                    }
                }
            }
        }
    }
}
